/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
:root {
	--scroll-to-top-top: 4.65em;
	--scroll-to-top-right: 2.05em;
	--scroll-input-width: 1.875em;
	--scroll-to-top-width: var(--scroll-input-width);
	--scroll-to-top-height: var(--scroll-input-width);
}

button > text {
	margin-left: 5px;
	font-size: 10pt;
}

.div-frontmatterButton {
    position: absolute;
	top: var(--scroll-to-top-top);
	left: var(--scroll-to-top-right);
	z-index: 99;
}

#_frontmatterButton {
	width: auto;
	height: auto;
	padding: 3px;
	display: grid;
	user-select: none;
	border-radius: 6px;
	transition: 200ms ease;
	min-width: fit-content;
	justify-content: space-around;
	z-index: var(--layer-status-bar);
	box-shadow: 0px 3px 32px rgb(31 38 135 / 15%);
	border: 1px solid var(--background-modifier-border);
}
#_frontmatterButton .buttonItem {
	margin: 2px;
	border: none;
	cursor: pointer;
	padding: 2px;
	box-shadow: none;
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 3px;
	/* width: var(--scroll-to-top-width);
	height: var(--scroll-to-top-height); */
	width: auto;
	height: auto;
	font-size: initial !important;
	background-color: var(--background-primary-alt);
}

#_frontmatterButton button.buttonItem:hover {
	background-color: var(--background-secondary);
}
