button > text {
	margin-left: 5px;
	margin-bottom: 2px;
	font-size: 10pt;
	align-items: center;
	justify-content: center;
}

.div-propertiesButton {
	width: 100%;
	max-width: 700px;
	position: absolute;
	top: -0.5em;
	margin-top: 10px;
	z-index: 1;
}

.buttonItem {
	-webkit-app-region: no-drag;
	display: inline-flex;
	align-items: center;
	color: var(--text-muted);
	font-size: var(--font-ui-small);
	border-radius: var(--button-radius);
	padding: var(--size-2-1) var(--size-4-3) var(--size-2-1) var(--size-4-2);
	height: var(--input-height);
	font-weight: var(--input-font-weight);
	cursor: var(--cursor);
	font-family: inherit;
	gap: var(--size-2-2);
	user-select: none;
	white-space: nowrap;
}

button:not(.clickable-icon) {
	background-color: var(--canvas-background);
	box-shadow: none;
}

@media (hover: hover) {
	.buttonItem:hover {
		box-shadow: none;
		opacity: var(--icon-opacity-hover);
		background-color: var(--background-modifier-hover);
		color: var(--text-normal);
	}
}

.buttonItem:focus {
	outline: none;
}

#_propertiesButton {
	height: auto;
	user-select: none;
	transition: 200ms ease;
	min-width: fit-content;
	justify-content: space-around;
}

#_propertiesButton .buttonItem {
	cursor: pointer;
}
