/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

button > text {
	margin-left: 5px;
	margin-bottom: 2px;
	font-size: 10pt;
	align-items: center;
	justify-content: center;
}

.div-frontmatterButton {
	width: 100%;
	max-width: 700px;
    position:fixed;
	top: 2em;
	margin-top: 10px;
	z-index: 1;
}

#_frontmatterButton {
	height: auto;
	user-select: none;
	transition: 200ms ease;
	min-width: fit-content;
	justify-content: space-around;
	/* box-shadow: 0px 3px 32px rgb(31 38 135 / 15%); */
}
#_frontmatterButton .buttonItem {
	cursor: pointer;
}

#_frontmatterButton button.buttonItem:hover {
	background-color: rgba(128, 128, 128, 0.457);
}

.frontmatterbutton {
	color: white;
}

.div-uiElement {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 700px;
	min-height: 50px;
	height: auto;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid white;
	position: absolute;
	top: 4rem;
	padding: 10px;
}

.cm-contentContainer {
	padding-top: 50px;
}

.yamlContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
}

.yamlContainer > div {
	width: 25%;
}

.FMForm > button {
	margin-left: 10px;
}